<app-window [title]="title">
  <table
    mat-table
    [ngClass]="tableClass"
    [trackBy]="trackRow"
    [dataSource]="(loading$ | async) === true ? placeholderRows : dataSource"
  >
    <ng-container
      *ngFor="let column of columns$ | async; let columnIndex = index"
      [matColumnDef]="column.id"
      }
    >
      <th
        [ngClass]="[cellClass, column.numeric ? cellRightClass : '']"
        mat-header-cell
        *matHeaderCellDef
      >
        {{ columnLabels[columnIndex] }}
      </th>
      <td
        *matCellDef="let element"
        [ngClass]="[
          cellClass,
          column.numeric ? cellRightClass : '',
          column.id === 'price' && this.type === 'bids'
            ? cellPositiveClass
            : '',
          column.id === 'price' && this.type === 'asks' ? cellNegativeClass : ''
        ]"
        mat-cell
      >
        <ng-template [ngIf]="(loading$ | async) === true">
          <ngx-skeleton-loader appSkeleton width="80%"></ngx-skeleton-loader>
        </ng-template>
        <ng-template [ngIf]="(loading$ | async) === false">
          {{ element[columnIndex].value }}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
    <tr
      [ngClass]="rowClass"
      mat-row
      *matRowDef="let row; columns: displayedColumns$ | async"
    ></tr>
  </table>
</app-window>
