<app-window title="Chart" [loading]="loading">
  <div
    echarts
    [options]="chartOptions"
    [merge]="mergeOptions"
    (chartInit)="onChartInit($event)"
    class="chart"
  ></div>
  <div role="actions">
    <span class="time">Time</span>
    <mat-form-field appearance="legacy" floatLabel="never">
      <mat-label>Time</mat-label>
      <mat-select
        panelOpen="false"
        [value]="interval$ | async"
        (selectionChange)="handleIntervalChange($event)"
        ><mat-option *ngFor="let interval of intervals" [value]="interval">
          {{ interval }}
        </mat-option></mat-select
      >
    </mat-form-field>
  </div>
</app-window>
