<div
  class="ticker-group"
  [ngClass]="{
    'ticker-group__large': (breakpoint$ | async) === 'Large',
    'ticker-group__medium': (breakpoint$ | async) === 'Medium',
    'ticker-group__small': (breakpoint$ | async) === 'Small',
    'ticker-group__xsmall': (breakpoint$ | async) === 'XSmall'
  }"
>
  <app-ticker-card
    title="Pair"
    [value]="(globalPair$ | async)?.slash || ''"
  ></app-ticker-card>
  <app-ticker-card
    title="Last price"
    [value]="lastPrice"
    [loading]="loading"
    [positive]="lastPricePositive"
  >
  </app-ticker-card>
  <app-ticker-card
    title="24 change"
    [value]="priceChange"
    [loading]="loading"
    [positive]="priceChangePositive"
  >
  </app-ticker-card>
  <app-ticker-card
    title="24 change percent"
    [value]="priceChangePercent"
    [loading]="loading"
    [positive]="priceChangePercentPositive"
  >
  </app-ticker-card>
  <app-ticker-card
    title="Last quantity"
    [value]="lastQuantity"
    [loading]="loading"
  >
  </app-ticker-card>
  <app-ticker-card title="Trades" [value]="numberOfTrades" [loading]="loading">
  </app-ticker-card>
</div>
