@use "@angular/material" as mat;

$hoverColor: mat.get-color-from-palette(mat.$grey-palette, 100);

@mixin override-mat-table {
  $padding: 4px;

  & thead {
    & tr {
      height: 0;
      & th {
        padding: 0 $padding $padding $padding;
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
  & tbody {
    & tr {
      height: 0;
      &:hover {
        background-color: $hoverColor;
      }
      & td {
        padding: $padding;
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
