@import "bootstrap/scss/bootstrap-grid";
@import "./overrides";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ebf1f5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}