@use "sass:map";
@use "@angular/material" as mat;

@import "bootstrap/scss/bootstrap-grid";
@import "./overrides";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ebf1f5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$custom-level: mat.define-typography-level(
  $font-size: 16px,
);

$custom-typography: mat.define-typography-config(
  $body-1: $custom-level,
);

$custom-theme: mat.define-light-theme(
  (
    typography: $custom-typography,
  )
);

@include mat.core($custom-theme);
