<app-window title="Pairs">
  <table
    mat-table
    class="table"
    [dataSource]="(loading$ | async) === true ? placeholderRows : dataSource"
  >
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id" }>
      <th
        [ngClass]="{
          table__cell: true,
          'table__cell--alignedRight': column.numeric
        }"
        mat-header-cell
        *matHeaderCellDef
      >
        {{ column.label }}
      </th>
      <td
        [ngClass]="{
          table__cell: true,
          'table__cell--alignedRight': column.numeric
        }"
        mat-cell
        *matCellDef="let element"
      >
        <ng-template [ngIf]="(loading$ | async) === true">
          <ngx-skeleton-loader appSkeleton width="80%"></ngx-skeleton-loader>
        </ng-template>
        <ng-template [ngIf]="(loading$ | async) === false">
          {{ getCellValue(element, column.id) }}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="table__row"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    aria-label="Select page"
    [length]="length | async"
    (page)="handlePageChange($event)"
  >
  </mat-paginator>
</app-window>
