$padding: 8px;

.mat-mdc-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 16px;
}

.title {
  font-weight: 500;
  flex-shrink: 0;
  text-transform: capitalize;
  margin-right: 8px;
}

.content {
  flex-grow: 1;
  text-align: right;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
