$padding: 8px;

.mat-mdc-card {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $padding;
  height: $padding * 6;
  flex-shrink: 0;
  border-bottom: 1px solid #0000001f;
}

.content {
  position: relative;
  padding: $padding;
  height: 100%;
}

.spinner {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  &--loading {
    display: flex;
  }
}
