<table
  mat-table
  [ngClass]="styles.tableClass"
  [trackBy]="trackRow"
  [dataSource]="loading ? placeholderRows : dataSource"
>
  <ng-container
    *ngFor="let column of columns; let columnIndex = index"
    [matColumnDef]="column.id"
  >
    <th
      [ngClass]="[
        styles.cellClass,
        column.numeric ? styles.cellRightClass : ''
      ]"
      mat-header-cell
      *matHeaderCellDef
    >
      {{ column.label }}
    </th>
    <td
      *matCellDef="let row"
      [ngClass]="[
        styles.cellClass,
        column.numeric ? styles.cellRightClass : '',
        row.cells[columnIndex]?.classNames || ''
      ]"
      mat-cell
    >
      <ng-template [ngIf]="loading">
        <app-skeleton width="80%"></app-skeleton>
      </ng-template>
      <ng-template [ngIf]="!loading">
        {{ row.cells[columnIndex]?.value }}
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="[
      styles.rowClass,
      row.classNames || '',
      row.cells[0] && (globalPair$ | async) === row.cells[0].value
        ? styles.rowHighlightClass
        : ''
    ]"
    (click)="handleRowClick(row)"
  ></tr>
</table>
<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  showFirstLastButtons
  aria-label="Select page"
  [length]="length"
  (page)="handlePageChange($event)"
>
</mat-paginator>
