@import "/src/styles/overrides.scss";

.table {
  width: 100%;
  table-layout: fixed;
  $highlight: red;

  @include override-mat-table();

  &__row {
    cursor: pointer;
    &--highlight {
      background-color: $hoverColor;
    }
  }
  &__cell {
    &--alignedRight {
      text-align: right !important;
    }
    &--positive {
      color: green;
    }
    &--negative {
      color: red;
    }
  }
}
