@use "@angular/material" as mat;

.table {
  $highlight: green;  
  $padding: 4px;
  $hoverColor: mat.get-color-from-palette(mat.$grey-palette, 200);
  
  table-layout: fixed;
  width: 100%;

  &__headerRow {
    height: 0;
    font-size: 12px;
  }
  &__headerCell {
    padding: 0 $padding $padding $padding;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
  &__row {
    cursor: pointer;
    height: 0;
    &:hover {
      background-color: $hoverColor;
    }
    &--highlight {
      background-color: $hoverColor;
    }
  }
  &__cell {
    padding: $padding;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
    &--alignedRight {
      text-align: right !important;
    }
    &--positive {
      color: green;
    }
    &--negative {
      color: red;
    }
  }
}
