<table
  mat-table
  [ngClass]="[styles.tableClass, className]"
  [trackBy]="trackRow"
  [dataSource]="loading ? placeholderRows : dataSource"
>
  <ng-container
    *ngFor="let column of columns; let columnIndex = index"
    [matColumnDef]="column.id"
  >
    <th
      [ngClass]="[
        styles.cellClass,
        column.numeric ? styles.cellRightClass : ''
      ]"
      mat-header-cell
      *matHeaderCellDef
    >
      {{ columnLabels[columnIndex] }}
    </th>
    <td
      *matCellDef="let row"
      [ngClass]="
        [styles.cellClass, column.numeric ? styles.cellRightClass : '']
          .concat(row.cells[columnIndex]?.classNames || [])
          .join(' ')
      "
      mat-cell
    >
      <app-skeleton *ngIf="loading" width="80%"></app-skeleton>
      <ng-template [ngIf]="!loading">
        {{ row.cells[columnIndex]?.value }}
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="[styles.rowClass].concat(row.classNames || []).join(' ')"
    (click)="handleRowClick(row)"
  ></tr>
</table>
<mat-paginator
  *ngIf="paginatorEnabled"
  [pageSizeOptions]="paginatorPageSizeOptions"
  showFirstLastButtons
  aria-label="Select page"
  [length]="paginatorLength"
  (page)="handlePageChange($event)"
>
</mat-paginator>
