<app-header></app-header>
<div class="container-fluid mb-3">
  <app-ticker-group class="row mb-3"></app-ticker-group>
  <div class="row mb-3">
    <!-- <div class="col-12 col-sm-6 col-lg-8"><app-chart></app-chart></div> -->
    <div class="col-12 col-lg-4">
      <app-pairs-table></app-pairs-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <app-order-book-table-container></app-order-book-table-container>
    </div>
    <div class="col-12 col-sm-12 col-lg-4">
      <app-trades-table></app-trades-table>
    </div>
  </div>
</div>
