<mat-card className="{styles.root}">
  <div class="title">{{ title }}</div>
  <div
    class="content"
    [ngClass]="{
      positive: positive === true,
      negative: positive === false
    }"
  >
    <ng-template [ngIf]="loading">
      <ngx-skeleton-loader appSkeleton></ngx-skeleton-loader>
    </ng-template>
    <ng-template [ngIf]="value === null && !loading"> N/A </ng-template>
    <ng-template [ngIf]="!loading && value !== null">
      {{ value }}
    </ng-template>
  </div>
</mat-card>
