<app-window title="Chart" [loading]="loadingController.loading">
  <app-candle-chart
    [data]="data"
    [loading]="loadingController.loading"
    (chartInit)="handleChartInit()"
  ></app-candle-chart>
  <div role="actions">
    <div class="time-action">
      <span class="time">Time</span>
      <mat-select
        panelOpen="false"
        [disabled]="loadingController.loading"
        [value]="interval"
        (selectionChange)="handleIntervalChange($event)"
        ><mat-option *ngFor="let interval of intervals" [value]="interval">
          {{ interval }}
        </mat-option></mat-select
      >
    </div>
  </div>
</app-window>
